<ion-content>

  <div class="container">
    <div class="page-header">
      <h1>Ready to learn?</h1>
      <h3>Sign up</h3>
    </div>
  </div>

  <form [formGroup]="credentials" (ngSubmit)="register()">

    <div class="wrapper">
      <ion-card class="form-wrapper">
        <ion-card-content>
          <ion-item fill="outline" class="ion-margin-bottom">
            <ion-icon name="person"></ion-icon>
            <ion-input class="primary-input" type="text" placeholder="Username" formControlName="username"></ion-input>
            <ion-note slot="error" *ngIf="(username.dirty || username.touched) && username.errors">Username is not valid</ion-note>
          </ion-item>
          <ion-item fill="outline" class="ion-margin-bottom">
            <ion-icon name="mail"></ion-icon>
            <ion-input class="primary-input" type="email" placeholder="Email" formControlName="email"></ion-input>
            <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is not valid</ion-note>
          </ion-item>
          <ion-item fill="outline" class="ion-margin-bottom">
            <ion-icon name="lock-closed"></ion-icon>
            <ion-input class="primary-input" type="password" placeholder="Password" formControlName="password"></ion-input>
            <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">The password needs more than 6 characters</ion-note>
          </ion-item>
          <ion-item fill="outline" class="ion-margin-bottom">
            <ion-icon name="lock-closed"></ion-icon>
            <ion-input class="primary-input" type="password" placeholder="ConfirmPassword" formControlName="confpassword"></ion-input>
            <ion-note slot="error" *ngIf="(confpassword.dirty || confpassword.touched) && confpassword.errors">That password must be equal to the previous</ion-note>
          </ion-item>
          <ion-button type="submit" expand="block">
            Sign up
          </ion-button>
        </ion-card-content>
      </ion-card>
  
      <div class="line-text">
        <span class="lines"></span>
        <span class="text"><a routerLink="/login">Already an admin?</a></span>
      </div>
  
    </div>

  </form>

  

</ion-content>